.container-slide {
  margin: auto 5em;
  padding: 2em 4em;
}


.text-model {
  position: absolute;
  background-color: darkolivegreen;
  transform: translate(180px, 500px);
  padding: 1em;
  display: none;
  

}