body {
  font-family: 'Open Sans', sans-serif;
  background-color: red;
  
}

.container {
  margin: 2em 4em;
}

.space {
  padding: 4px;
  background-color: #222222;
  margin-top: -2.2em;
  position: relative;
}

#output {
  color: orange;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  
}

/*HEADER*/
.logo {
  position: absolute;
  z-index: 1;
  color: red; 
  margin-left: 3em;
  margin-top: 1.5em;
}

.img-logo {
  width: 176px;
}

.login {
  float: right;
  position: relative;
  z-index: 1;
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 3px;
  margin-top: 25px;
  margin-right: 58px;
  
}

.login a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.login a:hover {
  text-decoration: none;
  color: white;
}


.jumbotron-header {
  background-image: url(../img/background-1.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
 
 
}

.container-jumbotron {
  margin-top: 9em;
}

.text-body-jb {
  padding: 1em;
 
}

.text-body-jb h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-body-jb h4 {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 30px;
}

.container-jumbotron p {
  font-size: 20px;
  
}

input {
 padding-left:  1.2em;
 padding-right: 1.2em;
 padding-top: 1.4em;
 padding-bottom: 1.1em;
 width: 27em;

  

}
.container-input p {
  margin-top: 25px;
}

.container-input button {
  background-color: red;
  padding-top: .23em;
  padding-bottom: .46em;
  width: 13em;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  
  
}

/*Section tv_series*/

.tv_series {
  background-color: black;
  margin-top: -2em;

}

.content_series {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.image_tv {
  z-index: 1;
  position: relative;
}

.video_init {
  width: 406px;
}

.video_tv {
  width: 100px;
  position: relative;
  transform: translate(73%,-141%);
  
}

.body_text_series_2{
  margin-top: 4em;
  
}

.series_2 {
  width: 110%; 
}
.body_text_series_2 h2 {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 1em;
  color: white;
}

.body_text_series_2 p {
  font-size: 27px;
  font-weight: 500;
  color: white;
  line-height: 36px;
}

.tv_series_phone {
  background-color: black;
  margin-top: -2em;
  padding-top: 3.5em;
  padding-bottom: 3.5em;

}

.phone {
  width: 510px;
  margin-left: -7em;
  
}

.phone img {
   width: 100%;
   height: auto;
}

.video_2 {
  width: 350px;
}

.min-tv_2 {
  margin-top: 2em;

}
.tv_2 {
  transform: translate(95%, -185%);
}


/*Accordion*/

.accord {
  background-color: black;
  margin-top: -2em;
}

.body_title_asks {
  text-align: center;
}

.asks {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 40px;
  color: white;
  padding-top: 1em;
  

}


i {
  font-weight: normal;
}

.accordion {
 margin-left: 12%;
}

.fa-plus {
  float: right ;
}

.asks_btn {
  background-color: #303030;
}

.card-body p {
  font-size: 18px;
}

.container-started {
  color: white;
  text-align: center;
  margin-top: -2em;
 
 
}

.container-jumbotron-started {
  margin-top: -15px;
  
}

.footer-container {
  background-color: black;
  padding-top: 5em;
  margin-top: -2em;
  text-align: left;
  padding-bottom: 5em;
}

.footer-container h5 {
  margin-left: 0px;
  color: rgba(255, 255, 255, .6);
  font-size: 18px;
  font-weight: 300;
}

.footer ul {
  margin-top: 1rem;
  list-style-type: none;
}

.footer a {
  color: rgba(255, 255, 255, .5);
  font-weight: 200;
  font-size: 15px;
}

.ul_first li {
  margin-left: -1.5rem;
  line-height: 30px;
}

.ul_second li {
  line-height: 30px;

}

#lang {
  padding: 14px 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
  font-size: 20px;
}

#lang option {
  background-color: black;
  color: white;
}


#first_lg {
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
  font-size: 20px;

}



@media screen and (max-width: 500px) {
  
  .logo {
    float: left;
    margin-left: 16px;
  }

  .img-logo {
    width: 25%;
  }

  .login {
    padding: 2px 7px;   
    border-radius: 3px;
    margin-top: 25px;
    margin-right: 16px;
    
  }

  .login a {
    font-size: 15px;
    display: block;
    padding-bottom: 2px;
    font-weight: 400;
  }

  .jumbotron {
    min-height: 50vh;
    
  }
  .container-jumbotron {
    margin-top: 4em;
  }

  .text-body-jb h1 {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .text-body-jb h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .container-jumbotron p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    
  }

  input {
    padding: 10px;
    width: 51.5vh;  
   }

   .input-box {
     margin-left: -1em;
     margin-top: -1.5em;

   }
   .container-input p {
     margin-top: 10px;
     font-size: 14px;
     margin-left: 15px;
   }
   
   .container-input button {
     margin-top: 1rem;
     background-color: red;
     padding: 7px;
     width: 10em;
     font-size: 17px;
     font-weight: 400;
     letter-spacing: 1px;
     margin-left: 1.8rem;
     
     
   }
   .container-input button:hover {
     background-color: gray;
   }

   .tv_series {
    overflow: hidden;
    margin-top: -4em;
    margin-bottom: -8em;
    
  
  }

   .body_text_series_2 {
     text-align: center;
     margin-bottom: -1.8rem;
     z-index: 2;
   }

   .body_text_series_2 h2 {
    font-size: 1.7em;
    font-weight: 700;
  }
  
  .body_text_series_2 p {
    font-size: 17px;
    line-height: normal;

  }

  .video_init {
    width: 240px;
    margin-left: -1.8em;
  }
  
  .video_tv {
    position: relative;
    transform: translate(45%,-139);
    
  }

  .image_tv img {
    z-index: 1;
    position: relative;
  }

  .tv_series_phone {
    margin-top: -2em;
    text-align: center;
    height: auto;
  }

  .series_2 {
     text-align: center;
     margin-bottom: 1rem;
     margin-left: -1rem;
     z-index: 2;

  }
  
  .phone {
    width: auto;
    padding-bottom: 4em;   
  }
  
  .phone img {
     width: 300px;
     margin-left: 8em;
     
     
  }

  .sm-screen {
    margin-bottom: 45px;

  }

  .video_2 {
    width: 210px;
    margin-left: 7px;
  }
  
  .tv_2 {
    transform: translate(55%, -175%);
  }
  
  .asks {
    font-size: 1.7em;
    font-weight: 700;

  }

  .accordion {
    margin-left: -15px;
  }

  .card {
    width: 56.4vh;
    
  }

 
  

  
  

  
}

